=botao_voltar(companies_path)
%hr
  - if @company.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{:type=>"button", :data-dismiss=>"alert", :aria-hidden=>"true" }x
      %ul
        - @company.errors.full_messages.each do |msg|
          %li= msg

.panel.panel-default
  .panel-heading=@company.model_name.human + ' ' + @company.id.to_s 
  .panel-body
    = form_with(model: @company , local: true) do |form|
      .row
        .col-md-12.form-group
          = form.label(:name)
          = form.text_field(:name, class:'form-control border-input')
      =botao_salvar()